<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 수정 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="id">상품 ID</label>
            <input type="text" id="id" class="form-control" th:field="*{id}" readonly>
        </div>
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" class="form-control" th:field="*{itemName}">
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" class="form-control" th:field="*{price}">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" class="form-control" th:field="*{quantity}">
        </div>

        <hr class="my-4">

        <!-- single checkbox -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">

                <!-- checkbox 가 활성화되지 않으면 false 값이 오는게 아니라 변수 자체가 오지 않음 (null) -->
                <!-- spring 의 hidden field 사용해서 해결 가능 (기존 필드명 앞에 _ 붙인 변수 값에 on 설정) -->
                <!-- <input type="checkbox" id="open" name="open" class="form-check-input"> -->
                <!-- <input type="hidden" name="_open" value="on"> -->

                <!-- thymeleaf 가 자동으로 hidden field 생성해서 false 받게 해줌 -->
                <!-- *{open} 과 ${item.open} 은 동일 -->
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">

                <label for="open" class="form-check-label">판매 오픈</label>

            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <!-- ${regions} 는 FormItemController 에서 @ModelAttribute("regions") 로 지정한 객체 (전체 지역) -->
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <!-- *{regions} 는 ${item.regions} 과 동일 (현재 item 의 지역) (form 태그에서 th:object 에 지정한 객체의 속성값) -->
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <!-- 바로 위에 input 태그의 id 값 (regions1,2,3) 을 가져오기 위해 ids.prev 사용 -->
                <label th:for="${#ids.prev('regions')}"
                       th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>상품 종류</div>
            <!-- ${itemTypes} 는 FormItemController 에서 @ModelAttribute("itemTypes") 로 지정한 객체 (전체 타입) -->
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <!-- *{itemType} 는 ${item.itemType} 과 동일 (현재 item 의 타입) (form 태그에서 th:object 에 지정한 객체의 속성값) -->
                <!-- 현재 item 의 타입이(item.itemType)에 해당 타입(type)과 일치하는 경우에 checked 활성화 -->
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <!-- 바로 위에 input 태그의 id 값 (itemType1,2,3) 을 가져오기 위해 ids.prev 사용 -->
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>

        <!-- select box -->
        <div>
            <div>배송 방식</div>
            <!-- *{deliveryCode} 는 현재 item 의 deliveryCode 값 (form 태그에서 th:object 에 지정한 객체의 속성값) -->
            <select th:field="*{deliveryCode}" class="form-select">
                <option value="">==배송 방식 선택==</option>
                <!-- ${deliveryCodes} 는 FormItemController 에서 @ModelAttribute("deliveryCodes") 로 지정한 객체 (전체 배송코드)  -->
                <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                        th:text="${deliveryCode.displayName}">FAST</option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='item.html'"
                        th:onclick="|location.href='@{/form/items/{itemId}(itemId=${item.id})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>