<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>

    <!-- 신규 추가 시 아래 h2 태그 보임 -->
    <h2 th:if="${param.status}" th:text="'저장완료'"></h2>

    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${item.id}" readonly>
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control" value="상품A" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control" value="10000" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control" value="10" th:value="${item.quantity}" readonly>
    </div>

    <hr class="my-4">

    <!-- single checkbox -->
    <div>판매 여부</div>
    <div>
        <div class="form-check">
            <!-- th:field 값이 true 인 경우, thymeleaf 가 checked 필드를 만들고 값에 checked 라고 세팅해줌-->
            <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled>
            <label for="open" class="form-check-label">판매 오픈</label>
        </div>
    </div>

    <!-- multi checkbox -->
    <div>
        <div>등록 지역</div>
        <!-- ${regions} 는 FormItemController 에서 @ModelAttribute("regions") 로 지정한 객체 (전체 지역) -->
        <div th:each="region : ${regions}" class="form-check form-check-inline">
            <!-- *{regions} 는 ${item.regions} 과 동일 (현재 item 의 지역) (form 태그에서 th:object 에 지정한 객체의 속성값) -->
            <!-- 현재 item 의 지역들(item.regions)에 해당 지역(region.key)이 포함되는 경우에 checked 활성화 -->
            <input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input" disabled>
            <!-- 바로 위에 input 태그의 id 값 (regions1,2,3) 을 가져오기 위해 ids.prev 사용 -->
            <label th:for="${#ids.prev('regions')}"
                   th:text="${region.value}" class="form-check-label">서울</label>
        </div>
    </div>

    <!-- radio button -->
    <div>
        <div>상품 종류</div>
        <!-- ${itemTypes} 는 FormItemController 에서 @ModelAttribute("itemTypes") 로 지정한 객체 (전체 타입) -->
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <!-- *{itemType} 는 ${item.itemType} 과 동일 (현재 item 의 타입) (form 태그에서 th:object 에 지정한 객체의 속성값) -->
            <!-- 현재 item 의 타입이(item.itemType)에 해당 타입(type)과 일치하는 경우에 checked 활성화 -->
            <input type="radio" th:field="${item.itemType}" th:value="${type.name()}" class="form-check-input" disabled>
            <!-- 바로 위에 input 태그의 id 값 (itemType1,2,3) 을 가져오기 위해 ids.prev 사용 -->
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">
                BOOK
            </label>
        </div>
    </div>

    <!-- select box -->
    <div>
        <div>배송 방식</div>
        <!-- *{deliveryCode} 는 현재 item 의 deliveryCode 값 (form 태그에서 th:object 에 지정한 객체의 속성값) -->
        <select th:field="${item.deliveryCode}" class="form-select" disabled>
            <option value="">==배송 방식 선택==</option>
            <!-- ${deliveryCodes} 는 FormItemController 에서 @ModelAttribute("deliveryCodes") 로 지정한 객체 (전체 배송코드)  -->
            <!-- 현재 item 의 배송코드가(item.deliveryCode)에 해당 배송코드(deliveryCode)와 일치하는 경우에 selected 활성화 -->
            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                    th:text="${deliveryCode.displayName}">FAST</option>
        </select>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/form/items/{itemId}/edit(itemId=${item.id})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/form/items}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>